* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

/* ------------------------Header-------------------------- */
.sub__header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.Category__sub__header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 40%;
    margin-left: 50px;
    margin-right: 50px;
}
.Category__sub__header p {
    margin-right: 23px;
    font-size: 1.4rem;
    line-height: 24px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
.Category__sub__header p:hover {
    color: red;
    /* gạch chân dưới */
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px; /* điều chỉnh dộ dày gạch chân */
    text-underline-offset: 5px; /* cách gạch chân dưới */
}
/* logo */
.logo__sub__header {
    /* background-color: aqua; */
    margin-left: -10px;
    margin-top: -20px;
}
/* Search + Lien He */
.search {
    /* background-color: aqua; */
    width: 250px;
    position: relative;
    margin-left: 200px;
}
.search input {
    background-color: transparent;
    border-bottom: 1px solid;
    outline: none;
    width: 230px;
    border: 1px solid rgb(198, 195, 195);
    border-left: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
}
.search i {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.9rem;
    color: gray;
    border: 1px solid rgb(198, 195, 195);
    border-right: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.action i {
    font-size: 2rem;
    margin-right: 10px;
    color: rgb(92, 88, 88);
}

.sub__header__mobile {
    display: none;
}
.menu-drawer {
    display: none;
}
/* ====================================Footer===================================== */
/* Footer Styling */
.footer {
    color: #fff;
    padding: 40px 20px 20px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    margin-top: 50px;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d6d2d2;
}
.footer::after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d6d2d2;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #007bff; */
}

/* New .spa-container to keep .spa on the right */
.spa-container {
    position: absolute; /* Absolutely position the container */
    top: 50px;
    left: 18%;
    transform: translate(-50%);
    margin-top: 150px; /* Space from the top */
}

.spa {
    background: black;
    border-radius: 16px 0px;
    padding: 12px 19px;
}

.spa a {
    font-size: 16px;
    color: #f7f8f9;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.footer-logo {
    flex: 1;
    min-width: 200px;
}

.footer-logo h3 {
    font-size: 24px;
    font-weight: 700;
    color: #f39c12;
    letter-spacing: 1.2px;
}

.footer-logo p {
    font-size: 14px;
    margin-top: 10px;
    color: #bbb;
    padding-left: 20px;
    padding-top: 10px;
}
.footer-logo .contact {
    padding-left: 20px;
}

.footer-logo img {
    margin-left: 10px;
}

.item-center-ft {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.title-footer {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #bbb;
    cursor: pointer;
    transition: color 0.3s ease;
}
.messul {
    padding: 2px;
    padding-left: 12px;
    margin-right: 0px;
}
svg {
    margin: 5px;
}
ul li:hover {
    color: #f39c12;
}

.social-media {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.social-icon {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    color: #f39c12;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    padding: 80px 0px 0px;
}
.footer-bottom p {
    margin-top: 70px;
}

.footer-bottom p {
    font-size: 14px;
    color: #bbb;
    margin: 20px;
}
/* ====================================Homepage==================================== */
.bannerStylePC__Tablet {
    position: relative;
    margin-top: -25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner {
    border-top-left-radius: 100px;
    border-end-end-radius: 100px;
}
.bannerStylePC__Tablet::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -15px;
    width: 100%;
    height: 560px;
    /* background-color: #007bff; */
    border-right: 1px solid rgb(140, 136, 136);
    border-end-end-radius: 100px;
}
.bannerStylePC__Tablet::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -15px;
    width: 15px;
    height: 1px;
    /* background-color: #007bff; */
    border-top: 1px solid rgb(140, 136, 136);
}
.bannerStyle__Mobile {
    display: none;
}
.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-top-left-radius: 100px;
    border-end-end-radius: 100px;
    margin-bottom: 20px;
    border: 1px solid rgb(196, 192, 192);
}
.title__products__new_arrival {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.title__products__GALLERY {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    letter-spacing: 3.5px;
}
.category-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    background: none;
    border: none;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px;
}

.category-button:hover,
.category-button:focus {
    border-bottom: 2px solid black;
}

.category-section {
    display: none;
    text-align: center;
}

.category-section.active {
    display: block;
}
/* ======card======*/
.Container__product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.Container__product.gallery {
    margin-left: 55px;
}
.product {
    width: 270px;
    margin-right: 20px;
    width: 270px;
    border-radius: 10px;
    margin-bottom: 90px;
    position: relative;
}
.product.gallery {
    margin-right: 40px;
}
.product-img {
    width: 100%;
    overflow: hidden;
}
.product-img img {
    width: 100%;
    height: 270px;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
}
.product-img img:hover {
    transform: scale(1.3);
}

.product-name p {
    color: #3e3e3f;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}
.btn__tym {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    border-top-left-radius: 10px;
    border-end-end-radius: 10px;
    position: absolute;
    right: 5px;
}
.scroll {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.product__slip {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    width: max-content;
}
.product__slip p {
    float: left;
    margin-left: 15px;
}
.product__slip .btn__tym {
    margin-top: 30px;
}
.see__more {
    width: 150px;
    height: 55px;
    padding: 14px 30px 20px 34px;
    border-top-left-radius: 20px;
    border-end-end-radius: 20px;
    border: 1px solid black;
    font-size: 1.6rem;
    line-height: 24px;
    position: relative;
    top: -42px;
    left: 587px;
    transition: all 0.4s ease-in-out;
}
.see__more:hover {
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}

.see__more::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -5px;
    width: 5px;
    height: 1px;
    /* background-color: #007bff; */
    border-top: 1px solid rgb(0, 0, 0);
}
.see__more::before {
    content: "";
    position: absolute;
    top: 5px;
    right: -6px;
    height: 1px;
    width: 100%;
    height: 50px;
    /* background-color: #007bff; */
    border-right: 1px solid rgb(0, 0, 0);
    border-end-end-radius: 30px;
}
/* content about */
.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}
.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 100%;
    object-fit: cover;
}
.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
    mix-blend-mode: screen;
    font-weight: 600;
}
.about .row .content {
    flex: 1 1 40rem;
}
.about .row .content h3 {
    font-size: 3rem;
    color: #333;
    font-weight: 600;
}
.about .row .content p {
    font-size: 1.9rem;
    color: #9999;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: hsla(130, 56%, 83%, 0.13);
}
.heading span {
    color: #5ac941;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid #000000;
    border-radius: 5rem;
    background: #ffffff;
    color: #000000;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}
.btn:hover {
    background: #080808;
    color: #ffffff;
}

.title__products__company {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 30px 0px 30px;
    color: #000000;
}
.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.sub__company {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.sub__company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}
.sub__company video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.sub__company:hover video {
    opacity: 1;
}
.sub__company:hover img {
    opacity: 0;
}

.profile_detail span {
    position: absolute;
    bottom: 70px;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    transition: bottom 0.5s ease;
}
.profile_detail span:nth-child(1) {
    color: rgb(81, 255, 0);
}
.profile_detail span:nth-child(2) {
    margin-left: 55px;
}

/* .profile_detail:nth-child(2) span {
      
  } */
.sub__company:hover .profile_detail span {
    bottom: 90px;
}
.profile_quote p {
    position: absolute;
    bottom: -90px;
    font-size: 1.5rem;
    color: #ffffff;
    /* text-transform: uppercase; */
    /* font-weight: 700; */
    padding: 10px;
    transition: bottom 0.5s ease;
}
.sub__company:hover .profile_quote p {
    bottom: 0px;
}

/* DetailProduct.css */
.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-selected {
    background-color: #007bff;
    color: white;
}
.banner__content {
    margin-top: -350px;
}
/* **********************************************************Admin********************************************************** */
.quill__description {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
/* **********************************************************reponsive********************************************************** */
/* --Mobile & tablet */
@media (max-width: 1024px) {
}
/* --Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .sub__header {
        /* background-color: red; */
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    .Category__sub__header {
        display: flex;
        align-items: center;
        padding: 10px 0;
        width: 40%;
        margin-left: 0px;
        margin-right: 0px;
        /* background-color: red; */
    }
    .Category__sub__header p {
        margin-right: 20px;
        font-size: 1.1rem;
        line-height: 24px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
    }
    /* logo */
    .logo__sub__header {
        margin-left: 10px;
        margin-top: -20px;
    }
    /* Search + Lien He */
    .search {
        /* background-color: aqua; */
        width: 0px;
        position: relative;
        margin-left: 50px;
    }
    .search input {
        background-color: transparent;
        border-bottom: 1px solid;
        outline: none;
        width: 170px;
        border: 1px solid rgb(198, 195, 195);
        border-left: none;
        height: 35px;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
    }
    .search i {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.9rem;
        color: gray;
        border: 1px solid rgb(198, 195, 195);
        border-right: none;
        height: 35px;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    .action {
        margin-left: 180px;
    }
    .action i {
        font-size: 1.5rem;
        margin-right: 5px;
        color: rgb(92, 88, 88);
    }
    .sub__header__mobile {
        display: none;
    }
    .menu-drawer {
        display: none;
    }
    .bannerStylePC__Tablet {
        width: 100%;
    }
    .carousel-inner {
        border-radius: 0px;
    }
    .carousel-item img {
        border-radius: 0px;
        height: 400px;
    }
    .see__more {
        width: 150px;
        height: 55px;
        padding: 14px 30px 20px 34px;
        border-top-left-radius: 20px;
        border-end-end-radius: 20px;
        border: 1px solid black;
        font-size: 1.6rem;
        line-height: 24px;
        position: relative;
        top: -42px;
        left: 267px;
        transition: all 0.2s ease-in-out;
    }
    /* footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .spa-container {
        justify-content: center; /* Center HOTLINE on smaller screens */
        margin-left: 0; /* Reset the margin */
    }

    .spa {
        margin-top: 20px; /* Reduce margin on smaller screens */
    }

    .social-media {
        justify-content: center;
        margin-top: 20px;
    }

    .item-center-ft {
        text-align: center;
    }

    .footer-logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .spa-container {
        display: none;
    }
    .right-center-ft ul {
        padding-left: 0rem;
    }
    .footer::after {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc8c8;
    }
}
/* --Mobile */
@media (max-width: 739px) {
    .sub__header {
        display: none;
    }
    .sub__header__mobile {
        display: flex;
        align-items: center;
    }
    .logo__sub__header__mobile {
        /* margin-top: -10px; */
    }
    .sub__header__mobile .nav_bars i {
        font-size: 3rem;
        padding: 15px 0px;
    }
    .action__sub__header__mobile {
        position: relative;
        /* background-color: aqua; */
        margin-left: 0px;
        width: 300px;
    }
    .action__sub__header__mobile .search {
        margin-left: 20px;
        /* background-color: #007bff; */
    }
    .action__sub__header__mobile .search input {
        border: 1px solid rgb(198, 195, 195);
        border-radius: 20px;
        width: 200px;
        height: 30px;
        padding-left: 35px;
        margin-top: 5px;
    }
    .action__sub__header__mobile i {
        position: absolute;
        left: 0px;
        border: none;
        height: 35px;
        padding: 10px;
        cursor: pointer;
    }

    .bars__column__mobile .overlay__mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        animation: fadeIn 0.3s ease-in-out;
        z-index: 99;
    }

    .menu-drawer {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 350px;
        background-color: #fff;
        transform: translateX(-100%);
        transition: all 0.5s ease;
        opacity: 0;
        display: block;
        z-index: 999;
    }
    .menu-drawer .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .menu-drawer .btn__login {
        margin-left: 50px;
        margin-bottom: 10px;
        width: 250px;
        height: 40px;
        line-height: 17px;
        border-top-left-radius: 10px;
        border-end-end-radius: 10px;
        transition: all 0.2s ease-in-out;
    }
    .menu-drawer .btn__login:hover {
        background-color: #000000;
        color: #fff;
    }
    .menu-drawer .Category__sub__header__mobile {
        margin-left: 50px;
    }
    .menu-drawer .Category__sub__header__mobile p {
        font-size: 1.5rem;
        margin-right: 50px;
        line-height: 24px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
    }
    .contact__sub__header__mobile {
        margin-left: 50px;
    }
    .contact__sub__header__mobile p {
        font-size: 1.5rem;
        margin-right: 50px;
        line-height: 24px;
        cursor: pointer;
        font-weight: 700;
        border-bottom: 2px solid black;
        width: 60px;
    }
    .menu-checkbox:checked ~ .overlay__mobile {
        display: block;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
        opacity: 1;
    }
    /* Banner */
    .bannerStylePC__Tablet {
        display: none;
    }
    .bannerStyle__Mobile {
        display: block;
    }
    .bannerStyle__Mobile img {
        /* width: 100%; */
        height: 250px;
        border-radius: 40px;
    }

    .carousel-inner {
        border-radius: 0px;
    }
    .carousel-item img {
        width: 100vw;
        border-radius: 0px;
        border: none;
    }
    .container-fluid {
        --bs-gutter-x: 0rem;
    }
    .see__more {
        width: 150px;
        height: 55px;
        padding: 14px 30px 20px 34px;
        border-top-left-radius: 20px;
        border-end-end-radius: 20px;
        border: 1px solid black;
        font-size: 1.6rem;
        line-height: 24px;
        position: relative;
        top: -42px;
        left: 110px;
        transition: all 0.2s ease-in-out;
    }
    /* footer */
    .footer-logo h3 {
        font-size: 20px;
    }

    .footer-logo p {
        font-size: 12px;
    }

    ul li {
        font-size: 12px;
    }

    .title-footer {
        font-size: 16px;
    }
    .spa {
        padding: 10px 15px; /* Adjust padding on smaller screens */
    }
    .spa a {
        font-size: 14px; /* Adjust font size on smaller screens */
    }
    .spa-container {
        display: none;
    }
    .messul {
        padding-left: 2rem;
    }
    .footer-container {
        gap: 0px;
    }
    .footer-logo p {
        padding-left: 2rem;
    }
    .contact {
        padding-left: 1.5rem;
    }
    .footer::after {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #d6d2d2;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
